*{
    margin: 0px;
    padding: 0px;
}
body {
    background: #eecda3;
    background: -webkit-linear-gradient(to right, #eecda3, #ef629f);
    background: linear-gradient(to right, #eecda3, #ef629f);
    min-height: 100vh;
  }
.items{
    width: 90%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.card{
    display: inline-block;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 35px;
}
.jumbotron{
    background-color: rgba(255, 255, 255, 0);
}

#map {
    height: 400px;  
    width: 90%;  
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;    
   }
#link{
    color:white;
}
#link:link, #link :visited {
    background-color: #8d04fd;
    color: rgb(255, 255, 255);
    padding: 17px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  #link:hover, #link:active {
    background-color: red;
    color: white;
  }
  .cartIcon{
      position: fixed;
      top: 20px;
      right: 20px;
    
  }
  .popup{
      width: 400px;
      border-radius: 20px;
  }
  .descrip{
      font-size: 25px;
  }
.confirmMessage{
    text-align: center;
}

.card2{
    text-align: center;
}
.column{
    text-align: center;
}
footer {
    color: white;
    background-color: rgb(65, 65, 65);
    display: inline-block;
    text-align: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    padding-bottom: 40px;
}
  .hero-images{
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;  
    margin-bottom: 15px;
    text-align: center;
  }
  .hero-image{
    border-radius: 20px;
    box-shadow: 10px 10px 5px grey;
  }
  .hero-text{
      text-align: center;
  }
  .selection{
      height: 450px;  
      width: 20%;
      margin-left: auto;
      margin-right: auto;
  }
  .featured{
      text-align: center;
  }
  .bulkText{
      width: 60%;
      margin-right: auto;
      margin-left: auto;
    text-align: center;
    line-height: 1.8; 
    font-size: large;
  }
.galleryimg{
    width: 20%;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}
img {
    vertical-align: middle;
  }
  
  /* Position the image container (needed to position the left and right arrows) */
  .container {
    position: relative;

  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Container for image text */
  .caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .column {
    float: left;
    width: 16.66%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 1;
    height: 200px;
  }
  
  .active,
  .demo:hover {
    transform: scale(1.3);
  }
  .contactFormContainer{
    text-align: center;
  }
  .contactForm{
      border-radius: 60px;
      background-color: white;
     width: 60%;
     margin-right: auto;
     margin-left: auto;
     padding: 40px;
     margin-bottom: 30px;
  }
  .contactLabel{
      padding: 20px;
  }
  #myBtn {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: black;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
  #myBtn:hover {
    background-color: #555;
  }
  .btn:hover{
    transform: scale(1.02);
  }
  .about_container{
    text-align: center;
  }